@import "../../global.scss";

.navbar{
  width:100%;
  height: 70px;
  background-color: white;
  color: $mainColor;
  position: fixed;
  top:0;
  z-index: 3;
  transition-property: background-color, color ; 
  transition-duration: 1s;
  
  .nav-center {
    width: 90vw;
    max-width: $maxWidth;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;        
    align-items: center;  

    .left {
      display: flex;
      gap: 3rem;

      a{
        color: inherit;
        text-decoration: none;
        font-size: 1.8em;
        font-weight: 700;
      }
      .infoContainer{
        display: flex;
        align-items: center;
        gap: .475rem;

        .icon{
          font-size: 1.2em
        }
        span{
          font-weight: 500;
        }
      }
    }

    .right{

      .humberger{
        display: flex;
        width: 32px;
        height: 25px;
        display: flex;  
        flex-direction: column;
        justify-content: space-between;        
        cursor: pointer;
         span {
          width: 100%;
          height: 3px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 2s ease;
        }       


      }
    }
  }

  &.active{
    background-color: $mainColor;
    color: white;

    .humberger{
      span{
        &:first-child{
          background-color: white;
          transform: rotate(45deg)
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:last-child{
          background-color: white;
          transform: rotate(-45deg)
        }
      }
    }
  }
}

  @media (max-width: 668px) {
    .navbar{
      height: 50px;
      .nav-center{
        .left{
          a {
            font-size: 1.5em;
          }
          .infoContainer{
            display: none;
          }    
        }

        .right {
          .humberger {
            width: 25px;
            height: 20px;
          }
        }
      }
    }
}